<html>
<head>
  <title>Usage of {{ format }} in {{ entity_type }}</title>
</head>
<body>
  {% if usage_in_configuration %}
  <h2>Usage of format "{{ format }}" in Field Settings</h2>
    <ul>
    {% for bundle, fields in usage_in_configuration[entity_type] %}
      <li>
        <h3>{{ bundle }}</h3>
        <ul>
          {% for field in fields %}
            <li>{{ field }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if usage_in_content %}
  <h2>Usage of format "{{ format }}" in content items</h2>
  <ul>
    {% for entity_id, data in usage_in_content %}
      <h3>Entity ID: {{ entity_id }}, bundle: {{ data.bundle }}</h3>
      <ul>
        {% for revision_id, fields in data.revisions %}
          <li>Revision ID: {{ revision_id }}
            <ul>
              {% for field in fields %}
                <li>{{ field }}</li>
              {% endfor %}
            </ul
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </ul>
  {% endif %}
</body>
</html>